/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Common Styles and Utiliteis */
body {
    font-family: 'Poppins', sans-serif;
}

/* Header Style */
.font {
    color: white;
}

.box {
    width: 130px;
    height: 40px;
    background-color: red;
    border-radius: 3px;

}

.player {
    position: relative;
    display: flex;
    background-color: black;
    background-repeat: no-repeat;
    padding: 30px;
}

/* Main Style */
.main {
    display: grid;
}

.blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.blog img {
    width: 312px;
    height: 175px;


}